@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --header-height: 4rem ;

    /* color  */
    --first-color : hsl(176, 88%, 27%);
    --first-color-alt : hsl(129, 44%, 94%);
    --second-color : hsl(34, 94%,87%);
    --title-color : hsl(0, 0% ,13%);
    --text-color : hsl(154, 13%, 32%);
    --text-color-light : hsl(60, 1%, 56%);
    --body-color : hsl(0, 0%, 100%);
    --container-color : hsl(0, 0%, 93%);
    --border-color : hsl(129, 36%, 85%);
    --border-color-alt : hsl(113, 15%, 90%);

    /* font and typography */
    /* .5rm =8px | 1rem =16px */
    --body-font : "Lato", sans-serif; ;
    --second-font :  "League Spartan", sans-serif;;
    --big-font-size : 3.5rem;
    --h1-font-size : 2.75rem;
    --h2-font-size : 2rem;
    --h3-font-size : 1.75rem;
    --h4-font-size : 1.375rem;
    --large-font-size : 1.125rem;
    --normal-font-size : 1rem;
    --small-font-size : 0.875rem;
    --smaller-font-size :   0.75rem;
    --tiny-font-size : 0.6875rem;

    /* ============ Font Weight================ */
    --weight-400 :400;
    --weight-500 :500;
    --weight-600 :600;
    --weight-700 :700;

    /* ================Transition==================== */
    --transition : cubic-bezier(0, 0, 0.05, 1)
}
/* ===BASE=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input ,
textarea ,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}
body {
    background-color: var(--body-color);
}
h1,h2,h3,h4{
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--weight-600);
}
ul {
    list-style: none;

}
a {
    text-decoration: none;
}
p {
    line-height: 1.5rem;
}
/* img {
    max-width: 100%;

} */

button,
textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}
table {
    width: 100%;
    border-collapse:collapse ;
}
/* ===REUSEABLE CSS CLASSES === */
.container {
    /* background-color: var(--first-color); */
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: .75rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section-lg{
    padding-block: 4rem;
}
.form_input {
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);

}
.section {
    padding-block: 2rem;
}
.section_title {
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
}
.section_title span {
    color: var(--first-color);
}
.textarea {
    height: 200px;
    padding-block: 1rem;
    resize: none;
}
/* ===HEADER & NAV === */
.header_top {
    background-color: var(--first-color-alt);
    border-bottom:  1px solid var(--first-color);
    padding-block:  0.785rem;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_contact span:first-child {
    margin-right:  2rem;
}
.header_contact span,
.header_aleart-new,
.header_top-action{
    font-size: var(--small-font-size);
}
.header_aleart-new {
    color: var(--text-color-light);
    font-weight: var(--weight-600);
}
.header_top-action {
    color: var(--text-color);
    transition: .3s;
}
.header_top-action:hover {
    color: var(--first-color);
}
.nav,
.nav_menu,
.nav_list,
.header_user-action
{
    display: flex;
    align-items: center;
}
.nav{
    /* background-color: var(--first-color); */
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 1rem;
}
.nav_logo-img{
    width: 120px;
}
.nav_menu{
    /* background-color: var(--first-color); */
    flex-grow: 1;
    margin-left: 2.5rem;
}
.nav_list{
    margin-right: auto;
    column-gap: 2rem;
}
.nav_link{
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}
.header_search{
    width: 340px;
    position: relative;
}
.header_search .form_input{
    border: 1px solid var(--border-color-alt);
    width: 100%;
}
.search_btn {
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.header_user-action{
    column-gap: 1.25rem;
}
.header_action-btn{
    position: relative;
}
.header_action-btn i {
   font-size: 30px;
}
.header_action-btn .count {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}
/* === active link === */
.active-link,
.nav_link:hover{
    color: var(--first-color);
}

/* === HOME === */
.home_container{
    grid-template-columns: 5fr 1fr;
    align-items: center;
}
.home_subtitle,
.home_description{
    font-size: var(--large-font-size);
} 
.home_subtitle{
    font-family: var(--second-font);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
    display: block;
}
.home_title{
    font-size: var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.4;
}
.home_title span {
    color: var(--first-color);
    font-size: var(--big-font-size);
}
.home_description {
    margin-block: .5rem 2rem;
}
.home_image{
    justify-self: flex-end;
    width: 500px;
    height: 500px;
   
}


/* === BTN === */
.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--smaller-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);

}
.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}
.btn-md {
    font-family: var(--body-font);
    height: 45px;
    line-height: 42px;
}
.btn-md,
.btn-sm {
    font-family: var(--body-font);
}
.btn-sm{
    height: 40px;
    line-height: 38px;
}
/* <!-- === CATEGORY === --> */
.categories {
    overflow: hidden;
}
.categories_container{
    width: 100%;
}
.swiper-wrapper .category_item img {
    width: 10rem;
    height: 10rem;
}
.categories_container .swiper-wrapper .category_item {
    /* width: 50% !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--first-color); */
}
.categories_container .swiper-wrapper .category_item img{
    background-color: var(--text-color-light);
    border-radius: 1rem;
    margin-block: 1rem;
}
.category_item {
    border: 1px solid var(--border-color);
    padding: 0.625rem 0.625rem 1.25rem;
    border-radius: 1.25rem;
}
.category_title {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/* === SWIPER CLASS === */
.swiper {
    overflow: initial !important;
}
.swiper-button-next::after,
.swiper-button-prev::after
 {
    content: "" !important;
}
.swiper-button-next,
.swiper-button-prev {
    top: -1.875rem !important;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
}

.swiper-button-prev{
    left: initial !important ;
    right: 2.5rem !important;
}

/* <!-- === PRODUCT === --> */
/* .products{
    overflow: hidden;
} */
.tab_btns {
    display:  flex;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}
.tab_btn {
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem 1.25rem .875rem;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}
.products_container {
    grid-template-columns: repeat(4, 1fr);
}
.product_item{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    transition: all .2s var(--transition);
}
.product_image img {
    width: 100%;
    height: 100%;
}
.action_btn {
    width: 40px;
    height: 40px;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: var(--small-font-size);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}
.action_btn::before,
.action_btn::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s cubic-bezier(0.71, 1.7,0.77,1.24);
}
.action_btn::before{
    content: "";
    top: -2px;
    border: .5rem solid transparent;
    border-top-color: var(--first-color);
}
.action_btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: var(--first-color);
    color: var(--body-color);
    font-size: var(--tiny-font-size);
    font-weight: var(--weight-500);
    white-space: nowrap;
    padding-inline: .625rem;
    border-radius: .25rem;
    line-height: 2.58;
}
.product_badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .25rem .625rem;
    border-radius: 2.5rem;
    font-size: var(--tiny-font-size);
}
.product_badge.light-pink  {
    background-color: hsl(341, 100%, 73%);
}
.product_badge.light-green  {
    background-color: hsl(155, 20%, 67%);
}
.product_badge.light-orange  {
    background-color: hsl(24, 100%, 73%);
}
.product_badge.light-blue  {
    background-color: hsl(202, 53%,76%);
}
.product_content{
    padding: 0 1.25rem .25rem;
    position: relative;
    padding-bottom: 1rem;
}
.product_category {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}
.product_title{
    font-size: var(--normal-font-size);
    margin-block: .75rem .5rem;
}
.product_rating{
    color: hsl(42, 100%, 50%);
    font-size: var(--smaller-font-size);
    margin-bottom: .75rem;
}
/* .product_price .new_price {
    font-size: var(--large-font-size);
} */
.cart_btn{
    position: absolute;
    bottom: 2.6rem;
    right: 1.25rem;
}
.flex {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.new_price {
    color: var(--first-color);
    font-weight: var(--weight-600);
}
.old_price {
    color: var(--text-color-light);
    font-weight: var(--small-font-size);
    text-decoration: line-through;
}
.form {
    row-gap: 1rem;
}
.form_group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
   /* === PRODUCTS ACTIVE TAB === */
/* .tab_item{
    width: 100%;
} */
.tab_btn.active-tab {
    color: var(--first-color);
    background-color: var(--second-color);
}
.product_banner {
    padding: .62rem .75rem .75rem;
}
.tab_item:not(.active-tab){
    display: none;
}
.product_banner,
.product_image {
    position: relative;
}
.product_image {
    display: block;
    overflow: hidden;
    border-radius: 1.25rem;
}
.product_img{
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}
.product_item:hover .product_img{
    transform: scale(1.1);
}
.product_img.hover{
    position: absolute;
    top: 0;
    left: 0;
}
.product_actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: .5rem;
    transition: all .2s var(--transition);
}

/* === PRODUCT HOVER === */
.product_img.hover,
.product_actions,
.action_btn::before,
.action_btn::after,
.product_item:hover .product_img.default {
    opacity: 0;
    /* transition: 1s; */
}
.product_item:hover .product_img.hover{
    opacity: 1;
}
.product_item:hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0% 0.1);
}

.product_item:hover .product_img.hover,
.product_item:hover .product_actions,
.action_btn:hover::before,
.action_btn:hover::after
{
    opacity: 1;
}
.action_btn:hover::before,
.action_btn:hover::after{
    transform: translateX(-50%) translateY(-0.5rem);
}
.action_btn:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--body-color);
}

/* <!-- === DEAL === --> */
.deals_container{
    grid-template-columns: repeat(2,1fr);
}
.deals_item:nth-child(1){
    background-image: url("/assets/image/unnamed.jpg");
}

.deals_item:nth-child(2){
    background-image: url("/assets/image/chup-trai-quan-ao-3.jpg"); 
}
.deals_item{
    padding: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.deals_brand {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.deals_category {
    font-family: var(--second-font);
    font-size: var(--small-font-size);
}
.deals_title{
    max-width: 240px;
    font-size: var(--large-font-size);
    font-weight: var(--weight-400);
    line-height: 1.3;
}
.deals_price .new_price, 
.deals_price .old_price {
    font-size: var(--large-font-size);
}
.deals_price .new_price {
    color: hsl(352, 100%, 60%);
}
.deals_countdown-text{
    margin-bottom: 0.25rem;
}
.countdown {
    display: flex;
    column-gap: 1.5rem;
}
.countdown_amount {
    position: relative;
}
.countdown_amount::after{
    content: ":";
    color: var(--title-color);
    font-size: var(--large-font-size);
    position: absolute;
    right: -25%;
    top: 20%;


}
.countdown_period{
    background-color: var(--first-color);
    color: var(--body-color);
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: .25rem;
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    margin-bottom: .5rem;
}
.unit {
    font-size: var(--small-font-size);
    text-align: left;
    display: block;

}
.deals_btn .btn {
    background-color: transparent;
    color: var(--first-color);
}
.deals_btn .btn:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}

/* === NEW ARRIVALS ===  */
.new_arrivals {
    overflow: hidden;
}

/* === SHOW CASE === */
.showcase_container
{
    grid-template-columns: repeat(4, 1fr);
}
/* .showcase_item .showcase_img-box img {
    width: 100%;
} */
.showcase_wrapper .section_title{
    font-size: var(--normal-font-size);
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: .75rem;
    margin-bottom: 2rem;
    position: relative;
}
.showcase_wrapper .section_title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: var(--first-color);
}
.showcase_item {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.showcase_item:not(:last-child){
    margin-bottom: 1.5rem;
}
.showcase_img{
    width: 86px;
    height: 86px;
    object-fit: contain;
}
.showcase_content {
    /* width: calc(100% - 110px); */
    width: calc(200px);
}
.showcase_price{
    display: flex;
    flex-direction: column;
}
.showcase_title{
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

/* Thuộc tính text-overflow: ellipsis; trong CSS được sử dụng để xử lý văn bản vượt quá chiều rộng của phần tử chứa nó. Khi nội dung văn bản quá dài để hiển thị trong vùng giới hạn của phần tử, text-overflow: ellipsis; 
sẽ cắt bớt phần văn bản thừa và hiển thị dấu ba chấm (...) ở cuối dòng. */
    margin-bottom: .5rem;

}
/* NEWSLETTER */
.newsletter {
    background-color: hsl(166, 23%, 74%);
}
.home_newsletter {
    margin-top: 2rem;
}
.newsletter_container{
    grid-template-columns: repeat(2, 3.5fr) 5fr;
    align-items: center;
    column-gap: 3rem;
}
.newsletter_title {
    column-gap: 1rem;
    font-size: var(--large-font-size);
}
.newsletter_icon {
    font-size: 40px;
}
.newsletter_description {
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
}

.newsletter_form {
    display: flex;
}
.newsletter_input,
.newletter_btn {
    font-size: var(--small-font-size);
}
.newsletter_input {
    background-color: var(--body-color);
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
    border-radius: .25rem 0 0 0.25rem;
}
.newletter_btn {
    background-color: var(--title-color);
    color: var(--body-color);
    padding-inline: 2rem;
    border-radius:  0 .25rem 0.25rem 0;
    font-family: var(--second-font);
    font-weight: var(--weight-500);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s var(--transitione) ;
}
.newletter_btn:hover {
    background-color: var(--first-color);
}

/* FOOTER  */
.footer_container{
    grid-template-columns: 4.5fr repeat(2, 3fr) 3.5fr;
    padding-block: 2.5rem;
}
.footer_logo-img{
    width: 60px;
    height: 60px;
}
.footer_subtile {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-block: 1.25rem 0.625rem;
}
.footer_description{
    margin-bottom: 0.25rem;
}
.footer_description span {
    font-weight: var(--weight-600);
}
.footer_social .footer_subtile {
    margin-bottom: 1.875rem;
}
.footer_social-links {
    column-gap: .25rem;
}
.footer_social-icon{
    font-size: 20px;
    opacity: 0.7;
    margin-inline: .5rem;
    color: black ;
}
.footer_social-icon:hover {
    color: var(--first-color);
}
.footer_title {
    font-size: var(--large-font-size);
    margin-block:  1rem 1.25rem;
}
.footer_link {
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    display: block;
    transition:  all .5s var(--transition) ;
}
.payment_img {
    width: 250px;
}
.footer_link:hover {
    color: var(--first-color);
    transform: translateX(10px);

}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
    /* background-color: var(--text-color-light); */
    border-top: 1px solid var(--border-color-alt);
}
.coppyright,
.designer{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

/* ------------------------- SHOP ------------------------------------- */
/* ==== BREADCRUMB ====*/
.breadcrumb {
    background-color: var(--container-color);
    padding-block: 1.5rem;
}
.breadcrumb_list {
    column-gap: .75rem;
}
.breadcrumb_link {
    color: var(--text-color);
    font-size: var(--small-font-size);
}
.breadcrumb_link-shop {
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    text-decoration: underline;
}


/* === PRODUCTS === */
.total_products {
    margin-bottom: 2.5rem;
}
.total_products span {
    color: var(--first-color);
    font-weight: var(--weight-600);
}
.pagination {
    display: flex;
    column-gap: 0.625rem;
    margin-top: 2.75rem;
}
.pagination_link{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: .25rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.15s var(--transitione);
}
.pagination_link.active,
.pagination_link:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}
.pagination_link.icon {
    border-top-right-radius: 50%;
    border-bottom-right-radius:50% ;
}

/* --------------------------- DETAILS ------------------------------- */
.details_container{
    grid-template-columns: 5.5fr 6.5fr;
}
.details_group .details_img {
    width: 500px;
}
.details_small-images img {
    width: 100px;
}
.details_small-images{
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}
.details_img {
    margin-bottom: 0.5rem;
}
.details_small-img {
    cursor: pointer;
}
.details_title {
    font-size: var(--h2-font-size);
}
.details_brand {
    font-size: var(--small-font-size);
    margin-block: 1rem;
}
.details_brand span {
    color: var(--first-color);
}
.details_price {
    border-top: 1px solid var(--border-color-alt);
    border-bottom:  1px solid var(--border-color-alt);
    padding-block: 1rem;
    column-gap: 1rem;
}
.deals_price .new_price {
    font-size: var(--h2-font-size);
}
.deals_price .old_price {
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

.short_decription {
    margin-block: 1rem 2rem;
}
.list_item,
.meta_list{
    font-size: var(--small-font-size);
    margin-bottom: .75rem;
}
.details_color-title ,
.details_size-title {
    /* font-size: var(--small-font-size); */
    font-weight: var(--weight-600);
}
.color_list,
.size_list {
    display: flex;
    column-gap:  .25rem;
}
.color_link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
}
.size_link {
    border: 1px solid var(--border-color-alt);
    padding: .375rem .75rem .5rem;
    color: var(--text-color);
    font-size: var(--small-font-size) ;
}
.details_size  {
    margin-block: 1rem;
}
.active-size {
    background-color: var(--first-color);
    color: var(--body-color);
}
.details_action {
    display: flex;
    column-gap: .375rem;
    margin-bottom: 3.25rem;
}
.quantity,
.details_action-btn {
    border: 1px solid var(--border-color-alt);
    font-size: var(--small-font-size);
}
.quantity {
    max-width: 80px;
    padding-block:  .5rem;
    padding-inline: 1rem .5rem;
    border-radius: .25rem;
}
.details_action-btn {
    line-height: 40px;
    padding-inline: 0.75rem;
    transition: .5s;
    border-radius: .25rem;
    height: 40px;
}
.details_action-btn:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}
.btn-sm{
    height: 40px;
    line-height: 38px;
}
.details_meta {
    border-top:  1px solid var(--border-color-alt);
    padding-top: 1rem;
}


/* === DETAILS TAB ===  */
.details_tabs {
    display: flex;
    column-gap: 1.75rem;
    margin-bottom: 3rem;
}
.details_tab {
    font-family: var(--second-font);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}
.details_tab.active-tab{
    color: var(--first-color);
}

.details_tab-content:not(.active-tab){
    display: none;
}
.info_table tr th,
.info_table tr td
{
    border: 1px solid var(--border-color-alt);
    padding: .625rem 1.25rem;
}
.info_table tr th {
    font-weight: var(--weight-700);
    text-align: left;
}
.info_table tr td {
    color: var(--text-color-light);
    font-weight: var(--weight-400);
}
.reviews_container {
    padding-bottom: 3rem;
    row-gap: 1.25rem;
}
.review_single {
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: 1.25rem;
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}
.review_single:last-child{
    padding-bottom: 3rem;
}
.review_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: .5rem;
}
.review_title {
    font-size: var(--tiny-font-size);
}
.review_data{
    width: calc(100% -94px);
}

.review_description {
    margin-bottom: 0.5rem;

}
.review_rating {
    color: hsl(42, 100%, 50%);
    margin-bottom: 0.25rem;
}
.review_rating,
.review_date {
    font-size: var(--small-font-size);
}
.review_form-title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
}
.rate_product {
    margin-bottom: 2rem;
}
.form_btn .btn{
    cursor: pointer;
}

/* === CART === */
.table_container {
    overflow-x: auto;
}
.table {
    table-layout: fixed;
    margin-bottom: 2rem;
}
.table tr {
    border-top:  1px solid var(--border-color-alt);
}
.table tr:last-child {
    border-bottom:  1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
    width: 216px;
}
.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-c108d(3) {
    width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
    width: 220px;
}
.table tr th:nth-child(5),
.table tr td:nth-child(5) {
    width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    width: 152px;
}

.table_img {
    width: 80px;
}
.table tr th,
.table tr td {
    padding: .5rem;
    text-align: center;
}
.table_title,
.table_description,
.table_price,
.table_subtotal,
.table_trash {
    font-size: var(--small-font-size);
}
.table_title{
    color: var(--first-color);
}
.table_description {
    max-width: 250px;
    margin-inline: auto;
}
.table_trash {
    color: var(--text-color-light);
}
.cart_actions {
   display: flex;
   justify-content: flex-end;
   gap: 0.75rem;
   margin-top: 1.5rem;
}

.divider {
    position: relative;
    text-align: center;
    margin-block: 3rem;
}
.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--border-color-alt);
    /* z-index: -1; */
}
.divider i {
    color: var(--text-color-light);
    background-color: var(--body-color);
    font-size: 1.25rem;
    padding-inline: 1.25rem;
    position: relative;
    z-index: 1;
    transition: .5s;
    cursor: pointer;
}
.divider i:hover {
    color: var(--first-color);
}
.cart_group {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}
.cart_shipping .section_title,
.cart_coupon .section_title ,
.cart_total .section_title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
}
.cart_coupon {
    margin-top: 3rem;
}
.coupon_form .form_group {
    align-items: center;
}
.cart_total {
    border: 1px solid var(--border-color-alt);
    border-radius: 0.25rem;
    padding: 1.75rem;
}

.cart_total-table {
    margin-bottom: 1rem;
}
.cart_total-table tr td {
    border:  1px solid var(--border-color-alt);
    padding: .75rem 0.5rem;
    width: 50%;
}
.cart_total-title {
    font-size: var(--small-font-size);
}
.cart_total-price {
    color: var(--first-color);
    font-weight: var(--weight-700);
}
.cart_total .btn {
    display: inline-flex;
}